/* TODO Add site wide styles */
.btn {
    border-radius: 5px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: #f1f2f5;
    /* background-color: #23292F;
    color: #F0F2F5; */
}