

/* Control the whole wall through the 'root' id */
/* #root {
    padding-left:25%;
    padding-right:25%;
} */

.post_container {
    padding:5px;
    padding-left:25%;
    padding-right:25%;
}

.message_sender > img {
    /* background-color: #F0F2F5; */
    /* border-radius: 999px; */
    opacity: .4;
    width:49px;
    height:35px;
    padding-left:15px;
}

.message_sender {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border:solid 1px lightgrey ;
    max-width:600px;
    /* min-width: 300px; */
    width: auto !important;
    width: 440px;
    height:100px ;
    margin-left: 5px;
}


.post-input {
    /* margin-left: 15px; */
    /* max-width:600px; */
    display:flex;
    width: 450px;
    border-radius: 999px;
    border: none;
    outline-width: 0;
    height: 25px;
    /* flex: 1; */
    background-color: #eff2f5;
    margin-left:15px;
    padding:5px 0 5px 15px;
    font-size:18px;
    /* width: auto !important; */
}

.post-input:focus {
    outline: none;
    border:1px solid blue;
    box-shadow: 0 0 5px #719ece;
    caret-color: blue;
    cursor: pointer;
}

.ul_posts {
   padding-left:0;
}

.post__top {
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.post__top-img {
    display:flex;
    justify-content: space-evenly;
}

.post__top-info {
    display:flex;
    align-items: center;

    /* justify-content:space-between; */
}

.top__info-user {
    display: flex;
    font-size: small;
    font-weight: bold;
    color: #777;
}

.top__info-time {
    display:flex;
    font-size: x-small;
}

.post__top-img > img{
    background-color: #F0F2F5;
    border-radius: 999px;
    opacity: .4;
    width:30px;
    height:30px;
}

.posted-posts {
    /* width:50%; */
    max-width:100%;
    /* min-width: 300px; */
    height: 300px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    background-color: white;
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
    border:solid 1px lightgrey ;
    height: auto !important;
    width: auto !important;
    
}

.post {
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
}

.post_body {
    padding:10px;
    border-radius: 8px;
    border-bottom: .5px solid grey;
    box-shadow: .5px 0px .5px .5px #719ece80;
    word-wrap: break-word;
}

.edit-delete-post-wrapper {
    display: flex;
    flex-direction: row;
    padding:5px;
    justify-content: flex-start;
}