.posts-container {
    
}

.posted-posts {
    width:50%;
    max-width:300px;
    min-width: 300px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

.posted-posts {
    /* color: #F0F2F5;
    background-color:#2F3841 ; */
    background-color: white;
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
    border:solid 1px lightgrey ;
}

.avatar > img{
    background-color: #F0F2F5;
    border-radius: 999px;
    opacity: .4;
}

.post {
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
}

.post-body {
    /* background-color: lightgrey; */
}