/* .display-errors {
    color: red;
}  */

.display-errors > ul > li {
    color: red;
    list-style-type:circle;
}

.signup-container {

}

.signup-header {

}

.signup-title {
    
}

.signup-text {

}

.signup-hr {

}

.signup-form-container {

}

.signup-form {

}

.signup-username-input {

}

.signup-email-input {

}

.signup-password-input {

}

.signup-confirm-password-input {

}

.signup-terms-container {

}

.signup-terms-text {

}



