

.comment-body {
    padding: 8px;
    
}

.comment {
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-left: -40px;
    padding: 5px;
    margin-top: 10px;
    height: auto;
    width: auto;
}

/* .add-comment-btn-modal {
    border:none;
    background: transparent
} */

/* .add-comment-btn-modal:hover {
    border:none;
    background: transparent;
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}

.edit-delete-comment-wrapper {
    display: flex;
    flex-direction: row;
    padding:5px;
    justify-content: flex-start;
} */

.btn-edit-comment {
    background: transparent;
    color: grey;
    margin-left:180px;
}

.btn-edit-comment:hover {
    border:none;
    background: transparent;
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}
