/* Whole container ********************************* */
.display_errors {
    color: red;
}

.login_container {
    display:flex;
    flex-direction: row;
    position: relative;
}

.left_side,
.right_side {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

/* Left Side ********************************* */
.left__text {
    display:flex;
    position: relative;
    left:20vw;
    top: 13vh;
    font-size: 24px;
}

.login__logo-container {
    display:flex;
    position: relative;
    left:20vw;
    top: 13vh;
    /* margin-right: 30vw; */
    width:198px;
    height:70px;
}

#login__logo {
    width:198px;
    height:70px;
    margin: -20px;
}


/* Right Side ********************************* */
.login__form {
    /* display:block; */
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    top:18vh;
    align-items: center;

    height: 456px;
    width: 396px;
    /* margin-left:200px; */
    background-color: #FFF;
    color: #1c1e21;
    font-size: 12px;
    line-height: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 5px 3px gainsboro;
    box-sizing: border-box;
    /* margin: auto 0; */
    padding: 10px 20px;


}

.login__hr {
    width:95%;
    height: 0.2%;
    background-color: rgb(194, 193, 193);
    border: none;
}


.email__inputL:focus,
.password__inputL:focus {
    outline: none;
    border:1px solid blue;
    box-shadow: 0 0 5px #719ece;
    caret-color: blue;
}

.email__inputL {
    font-size: 17px;
    width: 350px;
    height:35%;
    display: inline-block;
    margin: 8px 0;
    padding: 16px 14px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: .5px solid rgb(164, 164, 164);
    margin:5px;
    font-size: 17px;
}

.password__inputL {
    font-size: 17px;
    width: 350px;
    display: inline-block;
    border: none;
    margin: 8px 0;
    padding: 16px 14px;
    border-radius: 5px;
    border: .5px solid rgb(164, 164, 164);
    margin:5px;
}

.btn__loginL {
    background-color: #1877f2;
    color:#FFF;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 380px;
    margin:10px;
}

.btn__loginL:hover {
    background-color: #166fe5;
    cursor: pointer;
}

.demo__loginL {
    background-color: transparent;
    border: 1px solid #1877f2;
    color: #013375;
    border-radius: 5px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 380px;
    margin:5px;
    color: #8A8D91;
}

.demo__loginL:hover {
    border: 1px solid #085dcd;
    color: #085dcd;
    background-color: #fff;
    cursor: pointer;
    /* border: none; */
}

.signup-btn-container {
    margin-top: 60px;
}

.signup__btnL{
    background: none;
    background-color: #42b72a;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    line-height: 48px;
}

.signup__btnL:hover {
    background-color: #36a420;
    cursor: pointer;
}