
.display-errors {
    color: red;
}

.login-container {
    border: solid 1px grey;
    border-radius:15px;
    width: 300px;
    margin-left:200px;
    background-color: lightgrey;
    padding-left: 70px;

}

.form-container {

}

.login-form {

}

.email-input-wrapper {

}

.email-input {

}

.password-input-wrapper {

}

.password-input {

}

.login-btn {

}

.signup-btn {
    
}

.log-out-btn {

}

.btn-create-new {
    text-decoration: none;
    background-color: #42B72A;
    color:#fff;
    padding: 5px 5px;
    margin-top:25px;
}

.btn-create-new:hover {
    background-color: #389a24;
    cursor: pointer;
}