.nav-container {
    /* background-color: #2f3841; */
    width:50%;
    max-width:600px;
    min-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
    border-radius: 5px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    /* border:solid 1px black; */
}

.nav-circle-logo {
    width:40px;
}

.log-out-btn {
    background-color: transparent;
    color:#808080;
    border:1px solid #808080;
    font-weight: 600;
    margin: 60px;
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    color:#808080;
    /* height: 20vh;
    width: 30vw; */
    right: 10px;
    top: 50px;
    cursor: pointer;
}

.fa .fa-user-circle {
    color:#808080;
    border-radius: 20px;
    cursor: pointer;
}
.nav-logout-btn {
   
}

.nav-profile-btn {
    width:40px;
    height: 20px;
    background-color: pink;
    color: #808080;
    cursor: pointer;
}


ul li {
    text-decoration: none;
}


.login-signup-links{

}

.nav {

}

.navbar {

}

.session-links  {
    
}




