.nav-container {
    width:50%;
    max-width:600px;
    min-width: 300px;
    background-color: #FFF;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
    border-radius: 5px;
    width:100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
 
}

.nav__left {
    display: flex;
    justify-content: space-evenly;
}

.nav__center {
    display: flex;
    flex: 1;
    justify-content: center
}

.nav__right {
    display: flex;
}


.MuiSvgIcon-root {
    color: gray;
}

.MuiSvgIcon-root:hover {
    color: #2e81f4;
}

.link-github:hover {
    color: #2e81f4;
}

.link-linkedin:hover {
    color: #2e81f4;
}

.nav-container:hover > .MuiSvgIcon-root { 
    color: #2e81f4;
}

.nav-circle-logo {
    width:40px;
    height: 40px;
    padding-left:5px;
}

.log-out-btn {
    background-color: transparent;
    color:#808080;
    border:1px solid #808080;
    font-weight: 600;
    margin: 60px;
    cursor: pointer;
}

/* .profile-dropdown {
    position: absolute;
    color:#808080;
    height: 20vh;
    width: 30vw;
    right: 10px;
    top: 50px;
    cursor: pointer;
} */

/* .fa .fa-user-circle {
    color:#808080;
    border-radius: 20px;
    cursor: pointer;
} */
.nav-logout-btn {
   
}

/* .nav-profile-btn {
    width:40px;
    height: 20px;
    background-color: pink;
    color: #808080;
    cursor: pointer;
} */


ul li {
    text-decoration: none;
}


.login-signup-links{

}

.nav {

}

.navbar {

}

.session-links  {
    
}




