.nav-container {
    width:100%;
    
    /* max-width:600px;
    min-width: 300px; */
    background-color: rgba(255, 255, 255, 0.899);
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
    border-radius: 5px;
    width:100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    height: 60px;
    margin-bottom: 100px;
    /* flex:0.75; */
    transition: all .1s linear;
    z-index: 2000;
    position: fixed;

}

.more-btn {
   
}

.more-btn:hover {
   color:#1877f2;
}


.nav__left {
    display: flex;
    margin-left:20px;
    position: relative;
    left:5vw;
}

.nav__center {
    display: flex;
    flex:1;
    padding:20px;
    /* align-items:center; */
    justify-content:space-evenly;
}

.nav__right {
    display: flex;
    margin-right:20px;
    position: absolute;
    right:5vw;
}


.MuiSvgIcon-root {
    color: gray;

}

.MuiSvgIcon-root:hover {
    color: #2e81f4;
}

.link-github:hover {
    color: #2e81f4;
    transform: scale(1.5);
}

.link-linkedin:hover {
    color: #2e81f4;
    transform: scale(1.5);
}

.nav-container:hover > .MuiSvgIcon-root { 
    color: #2e81f4;
}

.nav-circle-logo:hover {
    transform: scale(1.5);
}

.log-out-btn {
    background-color: transparent;
    color:#808080;
    border:1px solid #808080;
    font-weight: 600;
    margin: 5px;
    padding:5px;
    cursor: pointer;
}

.profile__logoutBtn {
    cursor: pointer;
    padding:5px;
    width:80px;
}

.profile_avatar {
    display: flex;
    padding:5px;
}

.profile__dropdown {
    /* display:flex;   */
    position: absolute;
    color:#2e81f4a9;
    height: 13vh;
    /* min-height:13vh; */
    width: 18vw;
    right: -60px;
    top: 50px;
    cursor: pointer;
    /* background-color: rgba(145, 145, 145, 0.384); */
    background-color: white;
    border-radius: 8px;
    padding:10px;
    margin:5px;
}

.profile__logoutBtn{

}

/* .fa .fa-user-circle {
    color:#808080;
    border-radius: 20px;
    cursor: pointer;
} */
.nav-logout-btn {
   
}

/* .nav-profile-btn {
    width:40px;
    height: 20px;
    background-color: pink;
    color: #808080;
    cursor: pointer;
} */


ul li {
    text-decoration: none;
    padding:5px;
}


.login-signup-links{

}

.nav {

}

.navbar {

}

.session-links  {
    
}




